.header {
    background-color: rgb(252, 229, 26);
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: space-around;
}
div.logo_pad img{
    float: left;
    padding: 5px;
    width: 70%;
}
.logo_misPerris{
    display: flex;
}
div.logo_misPerris img{
    width: 70%;
}

.dropmenu{
	z-index: 100;
    display: none;
}

.navegacion {
    float: right;
    display: contents;
    width: 100%;
}

.footer {
    text-align: flex;
}
.v-container {
	position: relative;
	padding-bottom: 56.25%; /* proporción 16:9 */
	padding-top: 25px;
	height: 0;
	z-index: 1;
}

.v-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width:1000px){
    .header {
        align-content: row;
        justify-content: space-around;
        flex: auto;
    }
    .logo_misPerris{
        flex-direction: column;
    }
    div.logo_pad img{
        width: 80%;
    }
    div.logo_mis img{
        width: 20%;
        padding-block: -50px;
    }
    div.logo_perris img{
        width: 40%;
    }

    .dropmenu{
        display:flex;
        width: auto;
		z-index: 1000;
    }
	.btn-group{
		z-index: 1000;
	}
	.dropdown-menu{
		z-index: 1000;
	}
	.dropdown-item{
		z-index: 1000;
	}
    
    .btn{
        width: 50%;
    }

    .navegacion{
        display: none;
    }
}

@media screen and (max-width:400px){
    div.logo_mis img{
        display: none;
    }
    div.logo_perris img{
        display: none;
    }

    div.logo_pad img{
        padding: 5px;
        width: 100%;
    }
        
    .dropmenu{
        width: 50%;
    }
}
