.header {
    background-color: rgb(252, 229, 26);
    display: flex;
    justify-content: space-around;
}
div.logo img{
    padding: 5px;
    width: 70%;
}
.footer {
    text-align: flex;
}
.video{
    display: flex;
    justify-content: space-around;
}