{% extends 'base.html' %} 
{% load static %}

{% block css %}
<!--- css -->
<link rel="stylesheet" href="{% static 'css/registro.css' %}" type="text/css">
{% endblock %}

{% block js %}
<!--- js -->
{% endblock %}

{% block contenido %}
{% load humanize %}
{% load crispy_forms_tags %}

<br><br>
<div class="row ">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
        <div class="card">
            <div class="card-body">

                <h1 class="display">Login</h1><br>
                <form method="POST" id="formulario">
                    {% csrf_token %}
            
                    <div class="form-group">
                        <label for="username">Nombre de Usuario</label><br>
                        <input name="username" class="form-control" type="text"/>
                        <div class="bg-danger mt-1">{{ form.errors.username }}</div>
                    </div>
            
                    <div class="form-group">
                        <label for="password">Password</label><br>
                        <input name="password" class="form-control" type="password"/>
                        <div class="bg-danger mt-1">{{ form.errors.password }}</div>
                    </div>
            
                    {% if form.non_field_errors %}
                    <div class="form-group">
                        <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
                    </div>  
                    {% endif %}
                    
                    {{form.non_field_errors}}
            
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Enviar"/>
                    </div>
                </form>

                <div>
                    <a class ="nav-link btn-outline-primary btn-lg p-3" href="{% url 'home' %}">Ir a inicio</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
