/*CABECERA*/
.header {
    background-color: rgb(252, 229, 26);
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: space-around;
}
div.logo_pad img{
    float: left;
    padding: 5px;
    width: 70%;
}
.logo_misPerris{
    display: flex;
}
div.logo_misPerris img{
    width: 70%;
}
.dropmenu{
    display: none;
}
.navegacion {
    float: right;
    display: contents;
    width: 100%;
}

/*FORMULARIO*/
.contenido{
    background-color: lightblue;
    /*hay que centrarlo*/
    /*margin: auto;
    width: 50%;
    padding: 10px;*/
    margin: 20px 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.25rem;
    width: 300px;
    align-items: center;
    place-items: center;
    justify-content: center;
}

.formulario{
    align-items: center;
    place-items: center;
    justify-content: center;
}

form, p {
    margin: 20px;
}

p.note {
    font-size: 1rem;
    color: red;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    font-family: 'Lato';
    width: 300px;
    margin-top: 10px;
}

label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

label span {
    font-size: 1rem;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

[type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    background: black;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}



@media screen and (max-width:1000px){
    .header {
        align-content: row;
        justify-content: space-around;
        flex: auto;
    }
    .logo_misPerris{
        flex-direction: column;
    }
    div.logo_pad img{
        width: 80%;
    }
    div.logo_mis img{
        width: 20%;
        padding-block: -50px;
    }
    div.logo_perris img{
        width: 40%;
    }
    .dropmenu{
        display:flex;
        width: auto;
    }
    .btn{
        width: 50%;
    }
    .navegacion{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .footer {
        display: none;
    }
    .contenedor-inferior {
        justify-content: space-around;
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    div.logo_mis img{
        display: none;
    }
    div.logo_perris img{
        display: none;
    }
    div.logo_pad img{
        padding: 5px;
        width: 100%;
    }
    .dropmenu{
        width: 50%;
    }
}

