body{
    background-color:rgb(255, 250, 250);
    min-height: 100vh;
    margin: 0; 
    display:flex; 
    flex-direction:column; 
}
.header {
    background-color: rgb(252, 229, 26);
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: space-around;
}
div.logo_pad img{
    float: left;
    padding: 5px;
    width: 70%;
}
.logo_misPerris{
    display: flex;
}
div.logo_misPerris img{
    width: 70%;
}

.dropmenu{
    display: none;
}

.navegacion {
    float: right;
    display: contents;
    width: 100%;
}

/*contenedor de platos*/
.platos {
    display: flex;
    flex-wrap: wrap;
    min-width: 12rem;
    max-width: 15rem;
}
.plato {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
.plato_imagen {
    width: 100%;
    height: 15rem;
}
.plato img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
}
.plato .detalle {
    padding: 5px;
}


#contenedorPerror {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background-color: white;
}

.abajo_del_perro {
    display: flex;
    justify-content: space-around;
}

.contenido {
    display: flex;
    background-color: rgb(252, 229, 26);
    color: rgb(3, 3, 3);
    width: 100%;
    padding: 10px;
    font-family: verdana;
    font-weight: bold;
}

.principal { 
    background-color:white;
}

.principal img {
    width: 100%;
}

.fono {
    width: 30%;
}

.rescate {
    width: 40%;
    text-align: center;
}

.redes {
    width: 30%;
    text-align: center;
}

.redes ul li {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.redes img {
    height: 16px;
}

.contenedor-inferior {
    display: flex;
    justify-content: space-around;
}

.lateral_1, .lateral_2 {
    width: 50%;
    height: 500px;
    padding: 30px;
    background-color: rgba(246, 238, 238, 0.442);
    font-family: verdana;
}

.lateral_1 {
    text-align: right;
}

.lateral_1 img, .lateral_2 img {
    width: 100%;
}

.footer {
    text-align: flex;
}



@media screen and (max-width:1250px){
    .header {
        align-content: row;
        justify-content: space-around;
        flex: auto;
    }
    .logo_misPerris{
        flex-direction: column;
    }
    div.logo_pad img{
        width: 80%;
    }
    div.logo_mis img{
        width: 20%;
        padding-block: -50px;
    }
    div.logo_perris img{
        width: 40%;
    }

    .dropmenu{
        display:flex;
        width: auto;
    }
    
    .btn{
        width: 50%;
    }

    .navegacion{
        display: none;
    }
}

@media screen and (max-width:600px) {

    /*.footer {
        display: none;
    }*/
    .contenedor-inferior {
        justify-content: space-around;
        flex-direction: column;
    }
    .lateral_1, .lateral_2 {
        width: 100%;
        height: 500px;
        padding: 30px;
        background-color: rgba(246, 238, 238, 0.442);
        font-family: verdana;
    }
}
@media screen and (max-width:400px){
    div.logo_mis img{
        display: none;
    }
    div.logo_perris img{
        display: none;
    }

    div.logo_pad img{
        padding: 5px;
        width: 100%;
    }
        
    .dropmenu{
        width: 50%;
    }
}
