{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}
{% load humanize %}
<footer>
    <div class="container-fluid row">
        <div class="col">
            <h5>INFO ADICIONAL</h5>
            <p>Mis Perris</p>
            <p>Tienda de mascotas</p>
        </div>
        <div class="col">
            <h5>CONTACTO</h5>
            <p>Autor: Joe Muñoz - José Barboza - Pablo Rojas</p>
        </div>
        <div class="col">
            <h5>CONTÁCTANOS</h5>
            <h6><i class="bi bi-geo-alt-fill"></i> Visítanos en Alonso de Ovalle 1586, Santiago</h6>
            <h6><i class="bi bi-shop"></i> Abierto de 08:00 a 19:00 hrs</h6>
            <h6><i class="bi bi-telephone-fill"></i> +569 57326120 </h6>
            <h6><i class="bi bi-shop"></i> Abierto de 07:00 a 19:00 hrs</h6>
            <h6><i class="bi bi-telephone-fill"></i> +56212345678</h6>
            <h6><i class="bi bi-envelope-fill"></i> contacto@misperris.cl</h6>
        </div>
        <div class="row ">
            <h5>MISPERRIS.CL @2022</h5>
        </div>
    </div>
</footer>