{% load static %}
{% load humanize %}
<!--- navbar -->
<div class="header sticky-top d-flex">
    <a href="{% url 'home_gato' %}">
        <div class="logo">
            <div class="logo_pad">
                <img src="{% static 'images/logo_pad.png' %}" alt="LOGO_PERRIS">
            </div>
            <div class="logo_misPerris">
                <div class="logo_mis">
                    <img src="{% static 'images/logo_mis.png' %}" alt="LOGO_PERRIS">
                </div>
                <div class="logo_perris">
                    <img src="{% static 'images/logo_Perris.png' %}" alt="LOGO_PERRIS">
                </div>
            </div>
        </div>
    </a>

    <!---Navbar de celular --->
    <div class="dropmenu">
        <div class="btn-group drop">
            <button type="button" class="btn  dropdown-toggle btn-sm" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="dropImg" src="{% static 'images/dropMenu.png' %}" alt="">
            </button>
            <div class="dropdown-menu" 
            style="position: absolute; transform: translate3d(110px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="{% url 'home_gato' %}">Inicio</a>tem" href="{% url 'listar' %}">Tiendita</a>
            {% if perms.web.add_producto %}
            <a class="dropdown-item" href="{% url 'listar' %}">CRUD Productos</a>
            <a class="dropdown-item" href="{% url 'list_gatitos' %}">Gatos 
            </a>
            <a class="dropdown-item" href="{% url 'gatito_collection' %}">API Gatitos</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'carrusel_gatos' %}">Gatos</a>
            <a class="dropdown-item" href="{% url 'web_service' %}">Ubicacion</a>
            <a class="dropdown-item" href="{% url 'gatos_rescatados' %}">Nuestra Misión</a>
            {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesion</a>
            <a class="dropdown-item" href="{% url 'registrar' %}">Ingresar</a>
            {% endif %}
            </div>
        </div>
    </div>

    <!---Navbar de compu --->
    <div class="navegacion">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link btn-outline-primary " href="{% url 'home_gato' %}">Inicio</a>
            </li>
            {% if perms.web.add_producto %}
            <li class="nav-item">
                <a class="nav-link btn-outline-primary " href="{% url 'listar' %}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary " href="{% url 'list_gatitos' %}">Crud Gatitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary " href="{% url 'gatito_collection' %}">API Gatitos</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'carrusel_gatos' %}">Gatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'web_service' %}">Ubicacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'gatos_rescatados' %}">Nuestra Misión</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'login' %}">Iniciar Sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" href="{% url 'registrar' %}">Registrarse</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>