<!--- Hereda la navbar y el footer de base.html -->
{% extends 'base.html' %}
{% load static %}
{% block css %}
    <!--- css -->
{% endblock %}
{% block js %}
    <!--- js -->
{% endblock %}

<!--- Desde acá comienza el contenido de la pagina -->
{% block contenido %}
{% load humanize %}

<h1>Agregar Perrito</h1>

<div class="content container">
    <form method="POST">
        {% csrf_token %} 
        {{ form | crispy }}
        <button type="submit">GRABAR</button>
    </form>
</div>

{% endblock %}